body{
	margin: auto 0;
}

img {
  margin-top: 5em;
  width: 100%; 
  height: auto;
}

#searchform{
  margin-top: 3%;
}

#auswahlUL {
  position: fixed;
  top: 0;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  overflow: hidden;
  background-color: #333;
}

#auswahl {
  float: left;
}

#auswahl a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

#auswahl a:hover {
  background-color: #111;
}

#alleDaten{
  font-size: 25px;
  background-color: green;
  color: black;
  
}


th {
  background-color: #4CAF50;
  color: black;
} 

th, td {
  padding: 5px;
  text-align: left;
}
